 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

 body {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
 }

 .mainContainer {
   border: 1px solid #c2c2c2;
   border-radius: 10px;
 }

 .header,
 .footer {
   padding-top: 40px;
   height: 100px;
   vertical-align: middle;
   text-align: left;
 }
 th{
  cursor: pointer;
  background-color: #c2c2c2 !important;
 }
 td{
  word-break: break-all;
 }

 .footer {
   border-top: 1px solid #c2c2c2;
   margin-top: 20px;
 }

 .header {
   margin-bottom: 20px;
   border-bottom: 1px solid #c2c2c2;
 }

 h1 {
   border-bottom: 1px solid #f2f2f2;
   margin-bottom: 50px;
 }

 #generateSession {
   display: block;
 }

 .tabsHide {
   display: none;
 }

 .freezeHeight {
  height:500px;
  overflow-y: auto;
 }

 .accordion .accordion-button:focus {
   box-shadow: none;
 }


 #updates, .alterIcons{
  display: none;
 }
 .dropdown-menu.show {
    z-index: 100000;
}
.preloader-container{
  display: none;
}
.preloader-overlay {
  position: fixed; /* Fixes the overlay to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  display: flex; /* Centers content */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensures it's on top of other content */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Applies the 'spin' animation */
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}