 body {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
 }

 .mainContainer {
   border: 1px solid #c2c2c2;
   border-radius: 10px;
 }

 .header,
 .footer {
   padding-top: 40px;
   height: 100px;
   vertical-align: middle;
   text-align: center;

 }

 .footer {
   border-top: 1px solid #c2c2c2;
   margin-top: 20px;
 }

 .header {
   margin-bottom: 20px;
   border-bottom: 1px solid #c2c2c2;
 }

 h1 {
   border-bottom: 1px solid #f2f2f2;
   margin-bottom: 50px;
 }

 #generateSession {
   display: block;
   margin-left: 25%;
 }

 #angleOneCode {
   display: none;
 }